.page-content{
    margin-top:120px;
}

ion-title {
    text-transform: capitalize;
    margin-left: 0px;
    padding-left: 0px;
    & span{
        font-size: 18px;
    }
}

ion-grid{
    background-color: #64b5f6;
    text-align: center;
    color:white;
    font-size:18px;
}

ion-card-title{
    font-size: 18px;   
}   

.home-page-icons{
    color: #64b5f6;
}