<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false" (click)="openMenu()"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" md="notifications"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title *ngIf="loggedInUser && loggedInUser.firstName"><span>Hello, {{loggedInUser.firstName}}</span></ion-title>
</ion-toolbar>

<!-- Menu bar for user -->
<div *ngIf="menu">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title *ngIf="loggedInUser && loggedInUser.firstName"><span>{{loggedInUser.firstName}}</span></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none" class="menu-items">
          <ion-icon name="desktop" slot="start" color="warning"></ion-icon>
          <ion-label>DashBoard</ion-label>
        </ion-item>
        <ion-item class="menu-items" lines="none" *ngIf="loggedInUser && loggedInUser.isAdmin" (click)="admin()">
          <ion-icon name="person" slot="start" color="danger"></ion-icon>
          <ion-label>Approve/Reject Users</ion-label>
        </ion-item>
        <ion-item class="menu-items" lines="none" (click)="logout()">
          <ion-icon name="star-sharp" slot="start" color="dark"></ion-icon>
          <ion-label>Give Feedback</ion-label>
        </ion-item>
        <ion-item class="menu-items" lines="none" (click)="logout()">
          <ion-icon name="chatbox-ellipses-sharp" slot="start" color="dark"></ion-icon>
          <ion-label>Contact Us</ion-label>
        </ion-item>
        <ion-item class="menu-items" slot="bottom" lines="none" (click)="logout()">
          <ion-icon name="swap-horizontal-sharp" slot="start" color="dark"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</div>

<!-- Home page Content -->
<ion-content class="home_bg_image">
  <ion-slides spaceBetween="-30" [options]="slideOptions">
    <!-- ION SLIDE 1 -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h1>Looking for Groceries??</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img src="../../../assets/Images/grocery.jpg" />
        </ion-card-content>
      </ion-card>
    </ion-slide>

   <!-- ION SLIDE 2 -->
   <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h3>Facing issue...wants to talk??</h3>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="../../../assets/Images/chat.jpg" />
      </ion-card-content>
    </ion-card>
  </ion-slide>

 <!-- ION SLIDE 3 -->
 <ion-slide>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../assets/Images/pendemic.jpg" />
        </ion-col>
        <ion-col>
          <ion-item>
            <h2>Need help with medicines, daily essentials or any other stuff??</h2>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-slide>

<!-- ION SLIDE 4 -->
<ion-slide>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>Do not worry... We are here to help:)</h2>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../../assets/Images/quote.jpg" />
    </ion-card-content>
  </ion-card>
</ion-slide>

</ion-slides>



  <ion-chip outline color="dark">
    <ion-icon name="videocam" color="dark"></ion-icon>
    <ion-label color="dark">Community Forum</ion-label>
  </ion-chip>

  <ion-chip outline color="tertiary">
    <ion-icon name="restaurant" color="tertiary"></ion-icon>
    <ion-label color="tertiary">Get Essentials</ion-label>
  </ion-chip>

  <ion-chip outline color="danger">
    <ion-icon name="pin" color="danger"></ion-icon>
    <ion-label color="danger">Looking for Services</ion-label>
  </ion-chip>

</ion-content>