<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false" (click)="openMenu()"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" md="notifications"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title *ngIf="loggedInUser && loggedInUser.firstName"><span>Hello, {{loggedInUser.firstName}}</span></ion-title>
</ion-toolbar>

<!-- Menu bar for user -->

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title *ngIf="loggedInUser && loggedInUser.firstName"><span>{{loggedInUser.firstName}}</span></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none" class="menu-items">
          <ion-icon name="desktop" slot="start" color="warning"></ion-icon>
          <ion-label>DashBoard</ion-label>
        </ion-item>
        <ion-item class="menu-items" lines="none" *ngIf="loggedInUser && loggedInUser.isAdmin" (click)="admin()">
          <ion-icon name="person" slot="start" color="danger"></ion-icon>
          <ion-label>Approve/Reject Users</ion-label>
        </ion-item>
        <ion-item class="menu-items" lines="none" (click)="logout()">
          <ion-icon name="star-sharp" slot="start" color="dark"></ion-icon>
          <ion-label>Give Feedback</ion-label>
        </ion-item>
        <ion-item class="menu-items" lines="none" (click)="logout()">
          <ion-icon name="chatbox-ellipses-sharp" slot="start" color="dark"></ion-icon>
          <ion-label>Contact Us</ion-label>
        </ion-item>
        <ion-item class="menu-items" slot="bottom" lines="none" (click)="logout()">
          <ion-icon name="swap-horizontal-sharp" slot="start" color="dark"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <!-- Drop down to select the supplier -->
  <ion-content fullscreen class="essentials_bg">
    <ion-list>
      <ion-item color="warning">
        <ion-label>Supplier</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" 
        placeholder="Choose Supplier"  (ionChange)="getSupplierItems($event)">
          <ion-select-option *ngFor="let supplier of supplierList" value={{supplier._id}} >{{supplier.firstName}}</ion-select-option>
        </ion-select> 
      </ion-item>
    </ion-list>


  <!-- Viewing Items of selected supplier -->
  <ion-content *ngIf="itemsList && itemsList.length>0" class="item_bg">
    <ion-list>
      <ion-list-header color="dark"><h3>Items Details</h3></ion-list-header>
      <ion-item *ngFor="let item of itemsList" color="light" (click)="addToCart(item)">
        <ion-icon name="cart" color="dark"></ion-icon>&nbsp; &nbsp;
        <ion-label>
          <h2><strong>{{item.name}}</strong></h2>
          <h3> Price/Unit: &nbsp;{{item.pricePerUnit}}</h3> 
        </ion-label> 
      </ion-item>
      
      
    </ion-list>  
    
  </ion-content>

  <!-- Creating modal for choosing quantity of item -->

  </ion-content>

  <!-- Footer to view cart button -->
  <ion-footer>
    <ion-button size="block" color="dark" (click)="viewCart()">View Cart</ion-button>
  </ion-footer>

 


