<ion-header>
  <ion-toolbar>
    
    <ion-title>
      <ion-icon name="arrow-back" (click)="userView()"></ion-icon>
      &nbsp; Forms Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor = "let person of unverifiedUserList">
    <ion-card-header>
      <ion-card-subtitle>Unverified User</ion-card-subtitle>
      <ion-card-title>{{person.firstName}}, {{person.lastName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>

    <ion-button color="danger" expand="block" (click) = "verifyUser(person)">
      <ion-icon name="heart"></ion-icon>
      &nbsp;Accept User
    </ion-button>

    <ion-button color="dark" expand="block" (click) = "rejectUser(person)">
      <ion-icon slot="end" name="heart-dislike"></ion-icon>
      Reject User&nbsp;
    </ion-button>

  </ion-card>
</ion-content>
