<!-- Tabs to be displayed at the bottom for user -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="dashboard-icons" name="home"></ion-icon>
      <ion-label class="dashboard-labels">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="essentials">
      <ion-icon class="dashboard-icons" name="cart"></ion-icon>
      <ion-label class="dashboard-labels">Essentials</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="services">
      <ion-icon class="dashboard-icons" name="construct"></ion-icon>
      <ion-label class="dashboard-labels">Services</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="forum">
      <ion-icon class="dashboard-icons" name="chatbubbles-sharp"></ion-icon>
      <ion-label class="dashboard-labels">Forum</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>





